.header {
    grid-area: h;
    text-align: center;
    background-color: lightgrey;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black;
    font-size: 3em; */
}