.mboards {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.mboard_items a{
    text-decoration: none;
    color: darkblue;
}

.item a.activeLink {
    color: green;
}

/* .mb_adds {} */

/* .mb_add {} */