.formControl.error input, .formControl.error textarea {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSsummaryError {
    border: 2px red solid;
    padding: 5px;
    color: rosybrown;
}