.nav {
    grid-area: n;
    background-color: lightgrey;
    padding: 5px;
}

.item a {
    color: rgb(184, 36, 197);
    text-decoration: none;
}

.item a {
    color: darkblue;
}

.item a.activeLink {
    color: green;
}